//
// Basic Bootstrap table
//

.table {
  thead {
    th {
      color: $table-head-color-default;
      border-color: $table-head-border-color;
    }
  }

  tr:first-child {
    th,
    td {
      border-top: 0;
    }
  }
}

.table-striped-v {
  tr {
    td:nth-child(#{$table-striped-order}),
    th:nth-child(#{$table-striped-order}) {
      background-color: $table-accent-bg;
    }
  }
}
