// stylelint-disable declaration-no-important

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

@each $color, $value in $theme-colors {
  @include cake-bg-gradient-variant(".bg-gradient-#{$color}", $color);
}

.bg-white {
  background-color: $white !important;
}

.bg-mark {
  background-color: $mark !important;
}

.bg-transparent {
  background-color: transparent !important;
}
